<h1 class="title">Confirm your email address change</h1>
<p class="subtitle">Hit the button below to use this email address in BOXCAR.</p>

<%= link_to "Yes use use this email address", email_address_confirmation_url(membership_id: @membership.id, email_address_token: @token), class: "btn" %>

<p class="margin-block-start-double">If you didn’t request this change, you can ignore this email. Your email address WILL NOT be changed unless you hit the button.</p>

<p class="footer">Need help? <%= mail_to "support@37signals.com", "Email us"%>.
</p>
