:root {
  --tray-size: max(20dvw, 18rem);
}

@layer components {
  /* Container
  /* ------------------------------------------------------------------------ */

  .tray {
    --tray-duration: 350ms;
    --tray-margin: var(--inline-space);
    --tray-radius: 0.25rem;
    --tray-timing-function: cubic-bezier(0.25, 1.25, 0.5, 1);

    align-items: end;
    block-size: calc(var(--footer-height) - var(--tray-margin) * 2);
    display: grid;
    inset-block: auto var(--tray-margin);
    inline-size: var(--tray-size);
    position: fixed;
    z-index: var(--z-tray);

    /* Make the dialog, expander, and actions inhabit the same space */
    > * {
      grid-column-start: 1;
      grid-row-start: 1;
    }
  }

  /* Dialog
  /* ------------------------------------------------------------------------ */

  .tray__dialog {
    background-color: transparent;
    display: flex;
    flex-direction: column-reverse;
    inline-size: auto;
    inset: auto 0 0 0;
    position: absolute;
    transition: var(--tray-duration) var(--tray-timing-function);
    transition-property: background-color, box-shadow, inset-block-end;

    &:not([open]) {
      block-size: var(--footer-height);
      pointer-events: none;
    }

    &[open] {
      border-radius: var(--tray-radius);
      box-shadow:
        0 0 0 1px var(--color-ink-lighter),
        0 0 16px oklch(var(--lch-black) / 33%);
      inset-block-end: calc(var(--footer-height) - var(--tray-margin));
      overflow: hidden;
    }
  }

  /* Expander & Actions
  /* ------------------------------------------------------------------------ */

  .tray__expander {
    --hover-size: 0;
    --outline-size: 0;

    align-self: stretch;
    background: transparent;
    border: 0;
    margin-block: calc(-1 * var(--tray-margin));
    z-index: calc(var(--z-tray) + 1);

    .tray__dialog[open] ~ &,
    .tray__dialog:not(:has(.tray__item:not(.tray__item--overflow))) ~ & {
      display: none;
    }
  }

  .tray__actions {
    --hover-size: 0;

    align-self: center;
    align-items: stretch;
    border: 1px dashed oklch(var(--lch-white) / 50%);
    border-radius: 0.5em;
    color: var(--color-ink-inverted);
    display: flex;
    gap: var(--inline-space-half);
    opacity: 0;
    transition: translate var(--tray-duration) var(--tray-timing-function);
    translate: 0 var(--footer-height);

    .tray__dialog[open] ~ &,
    .tray__dialog:not(:has(.tray__item:not(.tray__item--overflow))) ~ & {
      opacity: 1;
      translate: 0 0;
    }

    /* Get the circle buttons to be full-height without magic numbers */
    form {
      aspect-ratio: 1;

      .btn {
        block-size: 100%;
        inline-size: 100%;
      }
    }

    .btn {
      opacity: 0.66;

      &:hover,
      &:focus-visible {
        opacity: 1;
      }
    }

    @media (prefers-color-scheme: dark) {
      .btn--reversed {
        color: var(--color-ink);
      }
    }
  }

  /* Item
  /* ------------------------------------------------------------------------ */

  .tray__item {
    --tray-item-delay: calc((var(--tray-item-index) - 1) * 20ms);
    --tray-item-height: 76px; /* FIXME: Magic number */
    --tray-item-index: 1;
    --tray-item-margin: calc(-1 * var(--tray-item-height) + var(--tray-item-offset));
    --tray-item-offset: var(--block-space-half); /* The amount they overlap */
    --tray-item-scale: calc(1 - (var(--tray-item-index) - 1) / 30);
    --tray-item-z: calc(6 - var(--tray-item-index));

    position: relative;

    .tray__dialog & {
      font-size: 10px;
      transition: var(--tray-duration) var(--tray-timing-function);
      transition-delay: var(--tray-item-delay);
      transition-property: margin, scale;
      z-index: var(--tray-item-z);

      &:not(:first-child) {
        scale: var(--tray-item-scale);
        margin-block-end: var(--tray-item-margin);
      }

      &:nth-child(1) { --tray-item-index: 1; }
      &:nth-child(2) { --tray-item-index: 2; }
      &:nth-child(3) { --tray-item-index: 3; }
      &:nth-child(4) { --tray-item-index: 4; }
      &:nth-child(5) { --tray-item-index: 5; }
      &:nth-child(6) { --tray-item-index: 6; }
      &:nth-child(7) { --tray-item-index: 7; }
      &:nth-child(8) { --tray-item-index: 8; }
      &:nth-child(9) { --tray-item-index: 9; }
      &:nth-child(10) { --tray-item-index: 10; }
    }

    .tray__dialog[open] & {
      --tray-item-margin: 0;
      --tray-item-scale: 1;
    }

    .bubble {
      display: none;
    }
  }

  .tray__item--overflow {
    --tray-item-index: 7 !important;
    --tray-item-z: 1;

    display: none;
    opacity: 0;

    .card {
      align-items: center;
      background-color: var(--color-canvas);
      font-size: var(--text-small);
      font-weight: bold;
      justify-content: center;
    }

    .tray__dialog:has(.tray__item:nth-child(7)) & {
      display: flex;
    }

    .tray__dialog[open] & {
      --tray-item-scale: 1;

      opacity: 1;
    }
  }

  /* Tray cards
  /* ------------------------------------------------------------------------ */

  .tray {
    .card {
      --card-padding-block: 1.5ch;
      --card-padding-inline: 1.5ch;
      --text-xx-large: 2em;

      block-size: var(--tray-item-height);
      view-transition-name: unset !important;

      [open] & {
        box-shadow: 0 0 0 1px var(--color-ink-lighter);
        border: 0;
        border-radius: 0;
      }

      @media (prefers-color-scheme: dark) {
        box-shadow: 0 0 0 1px var(--color-ink-lighter);
      }
    }

    .card__collection {
      padding-block: 0.25ch;
    }

    .card__body {
      padding-block-end: 0;
    }

    .card__title {
      --lines: 1;

      font-size: var(--text-small);
      font-weight: bold;
      min-block-size: 0;
    }
  }

  /* Pins tray
  /* ------------------------------------------------------------------------ */

  .tray--pins {
    inset-inline: var(--tray-margin) auto;

    /* Don't expand if there's only one pin */
    .tray__dialog:has(.tray__item:only-child) {
      pointer-events: unset;

      ~ .tray__expander {
        display: none;
      }
    }

    .tray__item {
      --tray-item-z: calc(10 - var(--tray-item-index));

      &:nth-child(1n + 11) { display: none; }
    }

    .avatar,
    .card__tags,
    .card__meta .btn,
    .card__meta-item:not(.card__meta-item--updated),
    .workflow-stage:not(.workflow-stage--current),
    .card__closed {
      display: none;
    }

    .card__body {
      display: block;
    }

    .card__meta-grid {
      margin-inline-start: 0;
    }

    .card__link {
      z-index: 1;
    }

    .card__stages {
      padding: 0;
    }

    .card__meta-item--updated {
      border: 0;
      font-size: var(--text-x-small);
      opacity: 0.66;
      padding: 0;
      text-transform: none;

      .local-time-value {
        font-weight: normal;
      }
    }

    .workflow-stage--current {
      background: none;
      border: 1px solid currentColor;
      color: var(--color-ink);
      inline-size: fit-content;
      inset: 0 0 auto auto;
      position: absolute;
    }

    .card__bubble {
      display: none;
    }
  }

  /* Notifications tray
  /* ------------------------------------------------------------------------ */

  .tray--notifications {
    inset-inline: auto var(--tray-margin);

    .tray__item:nth-child(1n + 7) {
      display: none;
    }

    &:not(:has(.card--notification)) {
      .tray__notification-read-action {
        visibility: hidden;
      }
    }

    .card__notification-unread-indicator {
      --btn-icon-size: 1.25em;
      --btn-size: 2em;
    }

    .card__notification-meta {
      font-size: var(--text-x-small);
    }
  }
}
